NEXT_PUBLIC_SUPABASE_URL=your_supabase_project_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PUBLIC_WHATSAPP_NUMBER=919114030650
NEXT_PUBLIC_WHATSAPP_URL=https://wa.me/message/4G6UESYCXY2BD1
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/ride_aura_0650?igsh=MTBkMWwxdHpwdnBkcw==
NEXT_PUBLIC_FACEBOOK_URL=
NEXT_PUBLIC_SITE_URL=https://rideauraselfdrive.co.in
NEXT_PUBLIC_BUSINESS_NAME=RideAura SelfDrive
NEXT_PUBLIC_OFFICE_LOCATION=Saubhagya Nagar, Delta
